
<div class="card text-center mb-3 w-100">
    <div class="card-body">
      <a href="/event/{{id}}"><h3 data-event_id="{{id}}" class="card-title text-uppercase font-weight-bold">{{event_name}}</h3></a>
      <hr>
      Hosted by {{event_creator.first_name}} {{event_creator.last_name}} (<a href="mailto:{{event_creator.email}}?subject={{event_name}}">{{event_creator.email}}</a>)<br /> Located in {{event_address_city}}, {{event_address_state}}<br />
      <p class="card-text font-italic">Click the event name or email the host for more info...</p>
    </div>
</div>

{{#each tasks as |task|}}
<div class="text-center m-3">
  <div class="list-group">
        {{> task-details}}
  </div>
</div>
{{/each}}

<script src="/js/editTask.js"></script>

