
<a href="/event/{{event_id}}" class="list-group-item list-group-item-action">
Task: {{name}} </br>
{{#if volunteer}}
    Assigned to: 
    {{task_volunteer.first_name}} {{task_volunteer.last_name}}
{{else}}
    <h5 class="font-weight-bolder">Volunteer Slot Available!</h5>
    <p class="font-italic">(Click here to volunteer...)</p>
{{/if}}
</a>

