  <main class="container container-fluid mt-5">
    <div class="container bootdey flex-grow-1 container-p-y">

      <div class="media align-items-center py-3 mb-3">
        <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="" class="d-block ui-w-100 rounded-circle">
        <div class="media-body ml-4">
          <h4 class="font-weight-bold mb-0">{{first_name}} {{last_name}}</h4>
          <br>
          <a href="javascript:void(0)" class="edit-profile-btn btn btn-primary btn-sm">Edit Profile</a>&nbsp;
          <a href="javascript:void(0)" class="btn btn-default btn-sm icon-btn"><i class="fa fa-mail"></i></a>
        </div>
      </div>


      <div class="card">
        <hr class="border-light m-0">
        <div class="card-body">

          <h6 class="mt-4 mb-3">User Profile:</h6>

          <table class="table user-view-table m-0">
            <thead>
              <tr>
                <th scope="col">User ID:</th>
                <th scope="col">First Name:</th>
                <th scope="col">Last Name:</th>
                <th scope="col">Email:</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">{{id}}</td>
                <td>{{first_name}}</td>
                <td>{{last_name}}</td>
                <td>{{email}}</td>
              </tr>
            </tbody>
          </table>


          <h6 class="mt-4 mb-3">Projects Created:</h6>

              <table class="table user-view-table m-0">
                <thead>
                  <tr>
                    <th scope="col">Project ID:</th>
                    <th scope="col">Project Name:</th>
                    <th scope="col">Event Date:</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  {{#each events as |event|}}
                  <tr>
                    <td scope="row">{{event.id}}</td>
                    <a href="/event/{{event.id}}"><td>{{event.event_name}}</td></a>
                    <td>{{format_date event.event_start_date}}</td>
                    <td>

                      <a class="editEvent" id="edit{{event.id}}" href=""><i class="fa fa-pencil" aria-hidden="true"></i></a>
                      <button type="button" class="btn btn-link ml-1 deleteEvent" id="delete{{event.id}}" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></button>

                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
    
              <h6 class="mt-4 mb-3">Volunteer Tasks:</h6>
    
              <table class="table user-view-table m-0">
                <thead>
                  <tr>
                    <th scope="col">Event ID:</th>
                    <th scope="col">Event Name:</th>
                    <th scope="col">Event Owner:</th>
                    <th scope="col">Volunteer Role:</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>

                  {{#each tasks as |task|}}
                  <tr>
                    <td scope="row">{{task.event.id}}</td>
                    <td>{{task.event.event_name}}</td>
                    <td>{{task.event.event_creator.first_name}} {{task.event.event_creator.last_name}}</td>
                    <td>{{task.name}}</td>
                    <td>
                      <a class="deleteVolunteerTask" data-task="{{task.event.id}}" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    </td>
                    {{/each}}
                  </tr>
                </tbody>
              </table>

        </div>
      </div>
  
    </div>
